@import "../../style/variables.scss";
@import "../../style/template.scss";


.block {
    width: auto;
    height: 90vh;
    background-image: url('/img/photo.jpg');
}


@media (min-width: 650px) and (max-width: 1050px) {

    /* CSS-стили Tablet*/
    .block {

        background-image: url('/img/photo.jpg');
    }
}

@media (min-width: 380px) and (max-width: 649px) {

    /* CSS-стили Smartphone*/



}

@media screen and (max-width: 379px) {

    /* CSS-стили Smartphone*/


}